# Python
__pycache__/
*.py[cod]
*.pyd
*.so
.Python

# Virtual environments
.venv/
venv/
ENV/

# Unit test / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Logs
*.log

# OS / editor
.DS_Store
.idea/
.vscode/

# Build / dist
build/
dist/
*.egg-info/

